main {
    font-family: 'Poppins';
}

main.login {
    width: 100vw;
    height: 100vh;
    background-color: #0C001F;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    div.container{
        width: 90%;
        height: 85%;
        background-color: #EEE;
        background-image: url("../../assets/images/Login-degrade-2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        border-radius: 25px;
        box-shadow: 1px 1px 10px 3px rgb(0, 0, 0);  
        display: flex;
        justify-content: right;
        align-items: center;
    }
    
    form#form-login {
        text-align: center;
        padding: 10px;
        height: 60%;
        width: 35%;
        display: flex;
        flex-direction: column;
        margin-right: 5vw;
    }
    
    form#form-login > h1{
        font-size: 2rem;
        margin-bottom: 0.6em;
    }
    
    form#form-login > input{
        border: none;
        border-radius: 3px;
        width: 80%;
        text-align: center;
        margin: 0.5em auto 0 auto;
        padding: 0.3em;
    }
    
    #btn-signin {
        background-color: #0C001F;
        border: none;
    }
}
  
