main.menu{
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  background-color: black;

  article.header{
    width: 100%;
    height: 15vh;
  }

  article.content{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: right;
    align-items: flex-end;

    h1{
      font-weight: 100;
      font-size: 2.5rem;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      padding: 1em;
      color: white;
      text-align: right;
    }
  }

  article.transition-area{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #251f56, #251f56);
    background-size: cover;
    border-radius: 10000px;

    h2{
      color: white;
      margin-top: 4em;
      text-align: center;
    }
  }

  article.final-area{
    margin-top: 1em;
    height: 20vh;
  }
}